<div class = "topbar-container">
    <div class="left">
        <div class = "logo">
            <img src="images/gbs.png"/>
        </div>
    </div>
    <div class = "right">
        <div class = "phone-number">
            <img src = "images/call.svg" /> <span class="number">99999 99999</span>
            <span class = "location">  Location </span> <span class="login">  Login | Singup   </span>
        </div>
        
        <input type="text" class="master-search" placeholder="Search for items"/>
        <img class = "cart" src="images/shopping-cart.png"/>
        
    </div>
</div>  

<div class="menu-container">
    <div class="menu">
        <a class="menuButton">Home Groceries</a>
        <a class="menuButton">Wedding Groceries</a>
        <a class="menuButton">Restaurant Groceries</a>
        <a class="menuButton">Restaurants</a>
    </div>
</div>