<template name="banner">
	
    
     <div class="container">
         <!--Header Section 1-->
            <nav class="white" style="box-shadow:0 0 0 0" >
                <div class="nav-wrapper ">
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                  
                  <ul class="right hide-on-med-and-down">
                    <li><a class="black-text" href="#"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; 1860 123 1000</a></li>
                    <li><a class="black-text" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Select your delivery city & location</a></li>
                    <li><a class="black-text" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a></li>
                    <li><a class="black-text" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;SignUp</a></li>
                  </ul>
                  <ul class="side-nav white-text" id="mobile-demo">
                    <li><a class="black-text" href="#">1860 123 1000</a></li>
                    <li><a class="black-text" href="#">Select your delivery city & location</a></li>
                    <li><a class="black-text" href="#">Login</a></li>
                    <li><a class="black-text" href="#">SignUp</a></li>
                  </ul>
                </div>
            </nav>
                        <div class="row">
                <div class="col l12 m12 s12">
                </div>
            </div>
            <table class="responsive-table" >
                <tr>
                    <td><img src="images/gbs.png" style="margin:-30px 0 0 0" class="responsive-img" ></td>
                    <td><div class="search" style="border:1px solid gray; margin:0px 0 0 30px;height:40px; ">
  <span class="fa fa-search"></span>
  <input placeholder="Search term" style="border-bottom: 0px solid white">
</div></td>
                    <td><span style="visibility:hidden">Hidden</span></td>
                    <td><button class="btn btn-flat grey lighten-3 z-depth-1">New Launches</button></td>
                    
                    <td><button class="btn btn-flat grey lighten-3 z-depth-1"><i class="fa fa-shopping-basket fa-5x " aria-hidden="true"></i></button></td>
                </tr>
            </table>
            

<table class="" style="pading:0 0 0 -40px">
                <tr>
                    <td>
<a class="dropdown-button btn green white-text" href="#!" data-activates="dropdown" data-beloworigin="true">SHOP BY CATEGORY<i class="mdi-navigation-arrow-drop-down right"></i></a>
<ul id="dropdown" class="dropdown-content collection">
	<li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li><a href="#!">three</a></li>	
</ul>
        
                    </td>
                    <td><p class="btn btn-primary transparent grey-text" style="line-height:20px;" ><i class="fa fa-home fa-2x red-text"  aria-hidden="true"></i>&nbsp;Home Groceries</p></td>
                    <td><p class="btn btn-primary transparent grey-text" style="line-height:20px"><i class="fa fa-home fa-2x red-text"  aria-hidden="true"></i>&nbsp;Wedding Groceries</p></td>
                    <td><p class="btn btn-primary transparent grey-text" style="line-height:25px"><i class="fa fa-home fa-2x red-text"  aria-hidden="true"></i>&nbsp;Restaurant</p></td>
                </tr>
            </table>

     </div>
            
            
       
<!--      Slider code starts here....                   -->
<div id="slider">
        <div>
            <img src="images/img4.jpg" alt="">
        </div>
        <div>
            <img src="images/img3.jpg" alt="">
        </div>
        <div>
            <img src="images/img2.jpg" alt="">
        </div>
        <div>
            <img src="images/img1.jpg" alt="">
        </div>
</div>


<!--      Slider code ends here....                   -->



<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary  orange">Organic Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary pink">Beauty Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary blue">In House Brands</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary amber">Gourmet Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary brown">Choclate Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary blue-grey">Deals of the Week</button></a></p>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    
</div>
<div class="parent-div">
    <img src="images/guarantee-sec2.jpg" />
</div>
<div class="center-title"> Browse Categories </div>
<hr class="hr">

<div id="slider1">
        <div>
            <img src="images/sub1.jpg" alt="">
            <img src="images/sub2.jpg" alt="">
            <img src="images/sub3.jpg" alt="">
            <img src="images/sub4.jpg" alt="">
        </div>
        <div>
           <img src="images/sub1.jpg" alt="">
            <img src="images/sub2.jpg" alt="">
            <img src="images/sub3.jpg" alt="">
            <img src="images/sub4.jpg" alt="">
        </div>
        <div>
            <img src="images/sub1.jpg" alt="">
            <img src="images/sub2.jpg" alt="">
            <img src="images/sub3.jpg" alt="">
            <img src="images/sub4.jpg" alt="">
        </div>
        <div>
            <img src="images/sub1.jpg" alt="">
            <img src="images/sub2.jpg" alt="">
            <img src="images/sub3.jpg" alt="">
            <img src="images/sub4.jpg" alt="">
        </div>
</div>

<div class="center-title"> Shop more and Save More </div>
<hr class="hr">
<div class="payments">
    <img src="images/p1.jpg" alt="">
    <img src="images/p2.jpg" alt="">
    <img src="images/p3.jpg" alt="">
    <img src="images/p4.jpg" alt="">
</div>
<div class="parent-div">
    <img src="images/TVC_BANNER-sept14.jpg" alt="" >
</div>

<div class="center-title"> Brand Store </div>
<hr class="hr">

<div class="brands">
    <img src="images/brand1.jpg" alt="">
    <img src="images/brand2.jpg" alt="">
    <img src="images/brand3.jpg" alt="">
    <img src="images/brand4.jpg" alt="">
    <img src="images/brand5.jpg" alt="">
    <img src="images/brand6.jpg" alt="">
</div>
<div class="center-title"> Freatured Recipies </div>
<hr class="hr">
<div id="slider2">
        <div>
            <img src="images/r1.jpg" alt="">
        </div>
        <div>
            <img src="images/r2.jpg" alt="">
        </div>
        <div>
            <img src="images/r3.jpg" alt="">
        </div>
        <div>
            <img src="images/r4.jpg" alt="">
        </div>
        <div>
            <img src="images/r5.jpg" alt="">
        </div>
</div>

 <br>    
        <div class="row">
            <div class="col l12 m11 s11" style="border:1px solid black;width:80%; margin:0 0 0 10%">
                <div class="col l11 m11 s11">
                    <h4>Online grocery India</h4>
                </div>
                <div class="col l12 m12 s12">
                    <p class="" style=" text-align: justify">Bigbasket is the first comprehensive online grocery store in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi-Noida, Mysore, Madurai, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Nashik, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, Chandigarh Tricity, Jaipur, Bhopal and Ludhiana. With over 18,000 products and 1000 brands in our grocery list you will find everything you are looking for. Right from fresh fruits and vegetables, rice and daals, spices and seasonings to packaged bread, bakery and dairy products online and other branded foods online - we have it all. Save time and money, shop at Bigbasket.com - the best online fruit & vegetable store, meat store, provisions store - an all-encompassing online groceries store of India.
                        <br><button class="btn btn-primary grey lighten-3 black-text">Read More</button></p> 
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="col l3 m3 s3">
                    <div class="col l12 m12 s12" style="margin:0 0 0 34%">
                        <p class="green-text">bigbasket</p>
                    </div>
                    <div class="col l12 m12 s12 " style="margin:0 0 0 34%">
                        <p><a class="grey-text">About Us</a></p>
                        <p><a class="grey-text">In News</a></p>
                        <p><a class="grey-text">Green bigbasket</a></p>
                        <p><a class="grey-text">Sell on bigbasket</a></p>
                        <p><a class="grey-text">Privacy Policy</a></p>
                        <p><a class="grey-text">Terms and Conditions</a></p>
                    </div>
                </div>
                
                <div class="col l3 m3 s3">
                    <div class="col l12 m12 s12" style="margin:0 0 0 34%">
                        <p class="green-text">Help</p>
                    </div>
                    <div class="col l12 m12 s12 " style="margin:0 0 0 34%">
                        <p><a class="grey-text">FAQs</a></p>
                        <p><a class="grey-text">Contact Us</a></p>
                    </div>
                </div>
                
                <div class="col l3 m3 s3">
                    <div class="col l12 m12 s12" style="margin:0 0 0 34%">
                        <p class="green-text">Download Our App</p>
                    </div>
                    <div class="col l12 m12 s12 " style="margin:0 0 0 34%">
                        <p><a class="grey-text">FAQs</a></p>
                        <p><a class="grey-text">Contact Us</a></p>
                        <p style="margin:0 0 0 -5%"><img class="responsive-img" width="200px" src="images/gp_btn.png"></p>
                        
                    </div>
                </div>
                
                <div class="col l3 m3 s3">
                    <div class="col l12 m12 s12" style="margin:0 0 0 34%">
                        <p class="green-text">Get Social With Us</p>
                    </div>
                    <div class="col l12 m12 s12 " style="margin:0 0 0 34%">
                        <p><a class="grey-text">FAQs</a></p>
                        <p><a class="grey-text">Contact Us</a></p>
                        <p style="margin:0 0 0 -5%"><img class="responsive-img" width="200px" src="images/social_icons.png"></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col l12 m12 s12" >
                <div class="col l12 m12 s12">
                    <div class="col l3 m3 s3" style="margin:0 0 0 7%">
                        <p class="green-text">POPULAR CATEGORIES:</p>
                    </div>
                    <div class="col l9 m9 s9"  style="margin:0 0 0 -7%">
                        <div class="col l12 m12 s12">
                            <p>Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,</p>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col l12 m12 s12" >
                <div class="col l12 m12 s12">
                    <div class="col l3 m3 s3" style="margin:0 0 0 7%">
                        <p class="green-text">POPULAR BRANDS:</p>
                    </div>
                    <div class="col l9 m9 s9"  style="margin:0 0 0 -7%">
                        <div class="col l12 m12 s12">
                            <p>
Fresho, bb Royal, Nandini, Kelloggs, 24 Mantra, Saffola, Lizol, Safal, Horlicks, MTR, Fresho Meats, Whisper , Real, Milky Mist, Nivea, Himalaya, Comfort, Sunpure , Bru , Zespri,</p>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col l12 m12 s12" >
                <div class="col l12 m12 s12">
                    <div class="col l3 m3 s3" style="margin:0 0 0 7%">
                        <p class="green-text">CITIES WE SERVE:</p>
                    </div>
                    <div class="col l9 m9 s9"  style="margin:0 0 0 -7%">
                        <div class="col l12 m12 s12">
                            <p>Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi-Noida, Mysore, Madurai, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Nashik, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, Chandigarh Tricity, Jaipur, Bhopal, Ludhiana,</p>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col l12 m12 s12" >
                <div class="col l12 m12 s12">
                    <div class="col l3 m3 s3" style="margin:0 0 0 7%">
                        <p class="green-text">PAYMENT OPTIONS:</p>
                    </div>
                    <div class="col l9 m9 s9"  style="margin:0 0 0 -7%">
                        <div class="col l2 m2 s2">
                            <p style="font-size:13px" >CASH ON DELIVERY</p>
                        </div>
                        
                        <div class="col l10 m10 s10"  style="margin:-3% 0 0 0">
                            <img src="images/payment_options.jpg" class="responsive-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <p class="grey grey-text lighten-3" style="margin:0 0 0 21%;font-size: 12px">Copyright © 2011-2016 Supermarket Grocery Supplies Pvt Ltd</p>
        </footer>

</template>