
<div class="slider-container">
    <div id="sliderFrame">
            <div id="slider">
                <!--
                <img src="images/image-slider-1.jpg" />
                <img src="images/image-slider-2.jpg" />
                <img src="images/image-slider-3.jpg" />
                <img src="images/image-slider-4.jpg" />
                <img src="images/image-slider-5.jpg" />
                <img src="images/image-slider-1.jpg" />
                -->
                <img src="images/banner1.jpg" />
                <img src="images/banner2.jpg" />
                <img src="images/banner3.png" />
                <img src="images/banner4.jpg" />
                <img src="images/banner5.png" />
                <img src="images/banner6.jpg" />
            </div>
    </div>
</div>