
<!--<div class="menu-container">
    <div class="menu">
        <a class="menuButton1">Organic Store</a>
        <a class="menuButton1">Beauty Store</a>
        <a class="menuButton1">In House Brands</a>
        <a class="menuButton1">Gourmet Store</a>
        <a class="menuButton1">Choclate Store</a>
        <a class="menuButton1">Deals of the Week</a>
    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary  orange">Organic Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary pink">Beauty Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary blue">In House Brands</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary amber">Gourmet Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary brown">Choclate Store</button></a></p>
            </div>
            
            <div class="col l2 m4 s6">
                <p><a href="#"><button class="btn btn-primary blue-grey">Deals of the Week</button></a></p>
            </div>
        </div>
    </div>
</div>
